/* editor*/
.added-gutter { background-color: rgba(0,170,0,.33); }
.changed-gutter { background-color: rgba(170,0,0,.33); }
.changed-text { background-color: rgba(170,0,0,.1); position:absolute; z-index:2;}
.added-text { background-color: rgba(0,170,0,.1); position:absolute; z-index:2;}
.ace_gutter-cell { background-repeat: no-repeat; }
/* layout */
html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
}

.stickit {
  display: flex;
}
.stickit.top {
  flex-flow: column;
  height: 100%;
}
.stickit>*:nth-child(1) {
  flex: 0 0 auto;
}
.stickit>*:nth-child(2) {
  flex: 1 1 auto;
}

.uploader {
  line-height: 28px;
  background-color: linen;
  color: green;
}
.tree {
  width: 250px;
  overflow: auto;
  display: inline-block;
}
.jstree-contextmenu {
  z-index: 5;
}

#previewTab {
  height:100%;
  width:100%;
  background-color: #EEE;
  padding:5px;
}

.nav-scroll {
  overflow-x: auto;
  overflow-y: hidden;
  display: -webkit-box;
  display: -moz-box;
}
.nav-scroll>* {
  float:none;
  white-space:normal;
}
.nav-over {
  position: relative;
  padding-top: 40px;
}
.nav-over>* {
  position: absolute;
  top: 0;
  width: 100%;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
}
/* selection marker */
.remoteCaret {
  position: absolute;
}

.squareCaret {
  position: absolute;
  top: -6px;
  left: -2px;
  width: 6px;
  height: 6px;
}

.infoCaret {
  position: absolute;
  bottom: 6px;
  left: -6px;
  padding: 2px 4px;
  color: #333;
}

.ellipsis {
  max-width:0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*Container, container body, iframe*/
.mce-tinymce, .mce-container-body, #code_ifr {
    *min-height: 100% !important;
}
#tinymceTab>div {
    min-height: 100% !important;
}
body {
  overflow: hidden;
}
/*Container body*/
.mce-container-body {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
/*Editing area*/
.mce-container-body .mce-edit-area {
    position: absolute;
    top: 69px;
    bottom: 37px;
    left: 0;
    right: 0;
}
/*Footer*/
.mce-tinymce .mce-statusbar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.frame-iframe {
    width: 1280px;
    height: 786px;
    border: 0;
    -ms-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -o-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    
    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    height:100%;
}
.frame-cont {
  width: 640px;
  height: 200%;
}
.frame-reload {
  width: 5rem;
  height: 5rem;
  border: 10px solid #41ccd2;
  background: #aae2de;
  border-radius: 5rem;
  position: absolute;
  bottom: -2.5rem;
  right: -2.5rem;
}
.frame-wrap {
    display: none;
    max-width: 50%;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    background: white;
    overflow: hidden;
    width: 5%;
}
.frame-wrap:hover {
    width: auto;
    z-index: 10;
}